.main {
    display: block;
    text-align: center;
    padding-top: 0;
}

.message-container {
    margin-top: 20vh;
    margin-bottom: 5vh;
    background: transparent;
    color: rgba(0, 0, 0, 1);
    max-width: 720px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
}

.verification-message {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.0;
    letter-spacing: 0;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 50px;
    margin-top: 0;
}

.verify-link-button {
    display: inline-block;
    width: 230px;
    height: 60px;
    line-height: 60px;
    background: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 50px;
    max-width: 90%;
}

.resend-form {
    display: block;
    text-align: center;
}

.resend-link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: transparent;
    color: rgba(0, 115, 204, 1);
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    line-height: 1.0;
    letter-spacing: 0;
}


@media screen and (min-width: 1400px) {
    .message-container {
        margin-top: 150px;
    }
}

@media screen and (max-width: 768px) {
    .message-container {
        max-width: 95%;
        margin-top: 100px;
    }

    .verification-message {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .verify-link-button {
        width: 70%;
        max-width: 230px;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .resend-link {
        font-size: 14px;
    }
}